.main {
}
.about {
  background-color: white;
  padding: 20px 20px;
  color: black;
}
.desc {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px auto;
}
.desc > div {
  flex: 1;
  margin: 10px;
}

.Card {
  max-width: 360px;
  min-width: 300px;
  height: auto;
  background-color: white;
  padding: 20px 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 5px 9px 15px 0 rgba(125, 125, 125, 0.2);
  transition: 0.5s ease;
  opacity: 1;
  cursor: pointer;
}

/* .Card:hover {
  background: #00715d;
}
.Card:hover i {
  color: white;
}
.Card:hover p {
  color: white;
}
.Card:hover h3 {
  color: white;
} */
.Card i {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  transition: color 0.7s ease;
}
.Card span {
  margin: 10px 0px;
}

.Card span:first-child {
  width: 80px;
  height: 80px;
  background-color: #00715d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Card span:first-child i {
  color: white;
  text-align: center;
}
.Card span:last-child {
  color: #00715d;
}
.Card h3 {
  font-family: "Nunito-Bold", arial;
  transition: color 0.4s ease;
}
.Card p {
  color: #6c6c6c;
}

.aboutUs {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: 50px auto;
  padding: 20px;
  width: 90%;
}
.aboutUs h2 {
  color: #00715d;
  margin: 20px 0;
}
.aboutUs h1 {
  margin: 20px 0;
}
.aboutUs > div {
  margin: 10px 2px;
}
.aboutUs p {
  line-height: 1.8;
  /* font-weight: lighter; */
  color: #6c6c6c;
}
.readmore {
  width: fit-content;
  height: fit-content;
  margin: 40px 0;
}
.readmore button {
  width: 150px;
  height: 50px;
  background-color: #00715d;
  color: white;
  font-size: medium;
  border-radius: 12px;
}
.aboutUs > div:nth-child(1) {
  max-width: 550px;
}
.aboutUs > div:nth-child(2) {
  width: calc(0.4 * 810px);
  height: calc(0.4 * 1080px);
  position: relative;
  z-index: 100;
  border-radius: 50%;
  transition: 0.6s;
}
.aboutUs > div:nth-child(2) > img {
  border: 3px solid #00715d;
  box-shadow: 5px 9px 15px 0 rgba(0, 0, 0, 0.6),
    2.5px -9px 35px 0 rgba(143, 143, 143, 0.2);
}
.aboutList {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-top: 30px;
}
.aboutList > div {
  display: flex;
  flex-flow: row wrap;
  color: black;
  margin-top: 15px;
  border-bottom: 1px solid #eeeeee;
}
.aboutList > div p {
  color: #6c6c6c;
  margin: 10px 0;
  font-size: small;
}
.aboutList > div > div:nth-child(2) {
  flex: 60%;
}
.aboutList > div > div:first-child {
  width: 50px;
  height: 50px;
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #eeeeee;
}
.news {
  width: 100%;
  background-color: #ffff;
  height: auto;
}
.title {
  margin: 40px auto;
  width: fit-content;
  padding: 20px 15px;
  text-align: center;
}
.title span {
  font-weight: bolder;
}
.title h2 {
  font-size: 35px;
  margin-top: 20px;
  line-height: 1.35;
  margin-left: auto;
  margin-right: auto;
  color: #00715d;
}
.grid {
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 0;
}
.grid > div {
  max-width: 370px;
  min-width: 300px;
  height: 490px;
  margin: 10px 10px;
  box-shadow: 5px 9px 15px 0 rgba(179, 179, 179, 0.2);
  border-radius: 12px;
  /* overflow: hidden; */
}

.grid > div .img {
  width: 100%;
  height: 55%;
  position: relative;
}
.grid > div .capt {
  width: 100%;
  height: 45%;
  padding: 10px 20px;
}
.date {
  width: 100%;
  height: 40px;
  margin: auto;
  margin-bottom: 12px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #6c6c6c60;
  justify-content: space-between;
  align-items: center;
}
.tag {
  position: absolute;
  top: 10px;
  z-index: 1111;
  color: white;
  padding: 10px 20px;
  left: 10px;
  border-radius: 9px;
  background: #00715d;
}
.testimonials {
  width: 100%;
  background-color: white;
  color: black;
  padding: 20px;
}
.testimonials > h2 {
  color: #00715d;
  margin-left: 30px;
  margin-bottom: 20px;
}
.testimonials > h1 {
  margin-left: 30px;
}
.testimonialsGrid {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 90%;
  margin: 80px auto;
}
.testimonialsGrid > div {
  flex: 20%;
  margin: 15px;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px 30px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 5px 9px 15px 0 rgba(125, 125, 125, 0.2);
  position: relative;
  overflow: hidden;
}
.quotes i {
  font-size: 30px;
  color: orangered;
}

.testimonialsGrid p {
  font-weight: 300;
  font-size: 13px;
  font-style: italic;
  color: #6e6e6e;
  line-height: 1.8;
}
.testimonialsGrid span {
  margin: 9px 0;
}
.testimonialsGrid span i {
  color: orange;
}
.food {
  position: absolute;
  bottom: -40px;
  right: -40px;
  width: 130px;
  height: 130px;
}
.food img {
  border-radius: 50%;
}
.profile {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.profile > div {
}
.profile > div:nth-child(1) {
  width: 95px;
  position: relative;
  height: 95px;
  flex: 18%;
  margin-left: 0 !important;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.profile > div:nth-child(1) > div {
  position: relative;
  width: 95px;
  height: 95px;
  border-radius: 50%;
}
.profile > div:nth-child(1) > div img {
  border-radius: 50%;
}
.profile > div:nth-child(2) {
  flex: 30%;
}
.profile aside {
  font-weight: 300;
  font-size: small;
  padding-top: 15px;
}

@media screen and (max-width: 1207px) {
  .testimonialsGrid > div {
    max-width: 480px;
  }
}

@media screen and (min-width: 1500px) {
  .grid > div {
    width: 450px;
    height: 500px;
  }
  .grid > div .img {
    height: 220px;
  }
}
.date i {
  margin-right: 12px;
  color: #00715d;
}
.grid > div p {
  font-weight: bolder;
  line-height: 1.6;
  font-weight: bolder;
  font-size: 19.5px;
  padding: 0 1.5px;
}
.grid > div button {
  background-color: #00715d;
  color: white;
  padding: 18px 20px;
  margin-top: 20px;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .grid {
    justify-content: space-around;
  }
  .grid > div {
    margin: 30px 0;
  }
}
@media screen and (max-width: 1211px) {
  .testimonialsGrid {
    justify-content: center;
    width: 100% !important;
  }
  .testimonialsGrid > div {
    flex: 40%;
  }
  .testimonialsGrid > div:nth-child(3) {
    max-width: 60%;
  }
}
@media screen and (max-width: 884px) {
  .testimonialsGrid > div {
    flex: 100%;
  }
  .testimonialsGrid > div {
    max-width: 80%;
    margin: 15px 0;
  }
  .testimonialsGrid > div:nth-child(3) {
    max-width: 80%;
  }
}
@media screen and (max-width: 595px) {
  .testimonialsGrid > div {
    max-width: 95%;
    margin: 15px 0;
    max-height: 360px;
  }
  .testimonialsGrid > div:nth-child(3) {
    max-width: 95%;
  }
}
@media screen and (max-width: 900px) {
  .grid > div {
    margin: 30px 0;
  }
}
@media screen and (max-width: 600px) {
  .title h2 {
    font-size: 25px;
  }
  .grid > div {
    margin: 30px 0;
  }
}
@media screen and (max-width: 420px) {
  .upcoming {
    height: 550px;
  }
  .upcoming .title {
    padding: 20px 10px;
  }
  .upcoming .title p {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .aboutUs {
    width: 100%;
  }
}
