.donations {
  width: 100%;
}
.donations .hero {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 350px;
  overflow: hidden;
  background-image: url("/images/footer-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.overlay {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=00715e&c2=a3cb63&gt=l&gd=dtl
*/
  background: #00715e51;
  background: linear-gradient(135deg, #00715e82, #a3cb639c);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.caption {
  position: absolute;
  bottom: 40px;
  left: 20px;
  z-index: 2;
  /* background-color: red; */
}
.caption > div {
  background: rgba(255, 255, 255, 0.19);
  color: white;
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}
.caption i {
  font-size: small;
  color: white;
}
.caption h1 {
  color: white;
  margin-top: 20px;
}
.news {
  width: 100%;
  background-color: #ffff;
  height: auto;
}
.title {
  margin: 40px auto;
  width: fit-content;
  padding: 20px 15px;
  text-align: center;
}
.title span {
  font-weight: bolder;
}
.title h2 {
  font-size: 35px;
  margin-top: 20px;
  line-height: 1.35;
  margin-left: auto;
  margin-right: auto;
  color: #00715d;
}
.grid {
  width: 95%;
  height: auto;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 50px;
}
.grid > div {
  max-width: 370px;
  min-width: 300px;
  height: 490px;
  margin: 10px 10px;
  box-shadow: 5px 9px 15px 0 rgba(179, 179, 179, 0.2);
  border-radius: 12px;
  /* overflow: hidden; */
}

.grid > div .img {
  width: 100%;
  height: 55%;
  position: relative;
}
.grid > div .capt {
  width: 100%;
  height: 45%;
  padding: 10px 20px;
}
.date {
  width: 100%;
  height: 40px;
  margin: auto;
  margin-bottom: 12px;
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #6c6c6c60;
  justify-content: space-between;
  align-items: center;
}
.tag {
  position: absolute;
  top: 10px;
  z-index: 1111;
  color: white;
  padding: 10px 20px;
  left: 10px;
  border-radius: 9px;
  background: #00715d;
}
.date i {
  margin-right: 12px;
  color: #00715d;
}
.grid > div p {
  font-weight: bolder;
  line-height: 1.6;
  font-weight: bolder;
  font-size: 19.5px;
  padding: 0 1.5px;
}
.grid > div button {
  background-color: #00715d;
  color: white;
  padding: 18px 20px;
  margin-top: 20px;
  font-weight: bold;
}
.donationDetails {
  padding: 10px;
  background-color: white;
  padding-bottom: 70px;
}
.donationsGrid {
  width: 90%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 40px auto 0 auto;
}
.donationsGrid > div {
  flex: 1;
  margin: 10px 25px;
}
.donationsGrid > div:first-child {
  flex-grow: 2;
  margin-left: 0;
  max-width: 60%;
}
.donationsGrid > div:nth-child(2) {
  box-shadow: 5px 9px 15px 0 rgba(179, 179, 179, 0.2);
  height: auto;
  max-width: 350px;
  margin-right: 0;
  height: fit-content;
}
.donationsGrid > div:nth-child(2) .img {
  width: 100%;
  height: 260px;
  position: relative;
  overflow: hidden;
}
.donationsGrid > div:nth-child(2) .details {
  width: 100%;
  padding: 20px 20px;
}
.donationsGrid > div:nth-child(2) .details p {
  line-height: 1.4;
  color: #6c6c6c;
  font-size: small;
  margin: 15px 0;
}
.donationsGrid > div:nth-child(2) .img img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.donationsGrid > div:nth-child(2) .details > div {
  margin: 17px 0;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.donationsGrid > div:nth-child(2) .details > div > div {
  border-bottom: 0.5px solid #6c6c6c4d;
  padding: 14px 10px;
  display: flex;
  flex-flow: row wrap;
  color: #6c6c6c;
  justify-content: space-between;
}
.custom {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;
}
.custom > div {
  padding: 16px 14px;
  border: 1.5px solid #6c6c6c4d;
  color: #6c6c6c;
  border-radius: 8px;
  margin: 5px 10px;
}
.form {
  margin-top: 40px;
}
.form form label {
  display: block;
  color: #6c6c6c;
  font-weight: 500;
  margin-bottom: 15px;
}
.form form input[type="text"],
.form form input[type="number"] {
  background: none;
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  color: black;
  font-size: medium;
  border-bottom: 0.5px solid #6c6c6c;
}
.form .formGroup span {
  font-size: small;
}

.formGroup {
  width: 100%;
  margin: 20px 0;
  position: relative;
}
.formGroup i {
  font-size: 35px;
  margin: 20px 15px 10px 0;
  cursor: pointer;
}
.form form button {
  background-color: #00715d;
  color: white;
  padding: 15px 18px;
  border-radius: 7px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .donationsGrid {
    flex-flow: column wrap;
    width: 90%;
    /* align-items: center; */
    justify-content: center;
    max-width: 95%;
  }
  .donationsGrid > div {
    margin-left: 0;
    flex: 100%;
    margin-right: 0;
  }
  .donationsGrid > div:first-child {
    max-width: 100%;
  }
  .donationsGrid > div:nth-child(2) {
    margin-bottom: 70px;
    width: 400px;
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .donationsGrid {
    width: 95%;
  }
  .donationsGrid > div:nth-child(2) .img {
    height: 270px;
  }
  .donationsGrid > div:first-child {
    padding-right: 10px;
    max-width: 100%;
  }
}
